<h1>Scraper#index</h1>
<p>Find me in app/views/scraper/index.html.erb</p>
<button id="get-links">List Links</button>
<button id="get-pics">List Pictures</button>
<ul id="links"></ul>
<ul id="pics"></ul>
